.starting__screen {
   width: 100%;
   position: relative;
}

.startingScreen__gradient {
   width: 100%;
   height: 100vh;
   z-index: 1;
   background: rgba(0, 0, 0, 0.4);
   background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
   );
}